Repository Autumn-fairytale/AFT-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix .

feat: add custom pagination
  src/components/UsersOrdersTable/CustomFooter.jsx
  src/components/UsersOrdersTable/Pagination.jsx
  src/components/UsersOrdersTable/UsersOrdersTable.jsx
  src/components/UsersOrdersTable/calculateTotalSum.js
  src/shared/AppChip/AppChip.jsx
  src/shared/AppDataGridTable/AppDataGridTable.jsx
Due: prettier --write, eslint --fix .

refactor: remove logs
  src/pages/user/Home/HomePage.jsx
Due: none

feat: add mock status editing
  src/App.jsx
  src/components/ChefsOrdersTable/ChefsOrdersTable.jsx
  src/components/ChefsOrdersTable/getChefsStatusOptions.js
  src/components/UsersOrdersTable/UsersOrdersTable.jsx
  src/components/UsersOrdersTable/formatDateForDataGrid.js
  src/hooks/useChefOrders.js
  src/hooks/useUpdateOrderStatusByChef.js
  src/hooks/useUserOrders .js
  src/shared/AppChip/AppChip.jsx
  src/shared/AppChip/AppChip.props.js
  src/shared/AppDataGridTable/AppDataGridTable.jsx
Due: prettier --write, eslint --fix .

feat: add stack order items
  src/components/ChefsOrdersTable/ChefsOrdersTable.jsx
  src/shared/AppDataGridTable/AppDataGridTable.jsx
Due: none

feat: add chefs profit to table
  src/components/AddDishForm/FormattedNumberInput.jsx
  src/components/ChefsOrdersTable/ChefsOrdersTable.jsx
  src/helpers/chefsAmountAfterFee.js
  src/helpers/index.js
  src/shared/AppDataGridTable/AppDataGridTable.jsx
Due: prettier --write, eslint --fix .

bugfix: fixed statuses naming bug
  src/components/ChefsOrdersTable/ChefsOrdersTable.jsx
  src/components/ChefsOrdersTable/OrderItemsCell.jsx
  src/components/ChefsOrdersTable/StatusCell.jsx
  src/components/ChefsOrdersTable/getActions.jsx
  src/components/ChefsOrdersTable/getChefsStatusOptions.js
  src/components/ChefsOrdersTable/processRowUpdate.js
  src/hooks/useChefOrders.js
Due: prettier --write, eslint --fix .

feat: add toaster
  package-lock.json
  package.json
  src/components/ChefsOrdersTable/processRowUpdate.js
  src/components/Providers/Providers.jsx
Due: prettier --write, eslint --fix .

test
  src/components/ReviewsList/ReviewsList.jsx
Due: none

feat: add color to save button
  src/components/ChefsOrdersTable/getActions.jsx
Due: none

refactor: add memoization
  src/components/ChefsOrdersTable/ChefsOrdersTable.jsx
  src/components/ChefsOrdersTable/OrderItemsCell.jsx
  src/components/ChefsOrdersTable/StatusCell.jsx
  src/hooks/useChefOrders.js
Due: prettier --write, eslint --fix .

refactor: api requests
  src/App.jsx
  src/components/UsersOrdersTable/CustomFooter.jsx
  src/components/UsersOrdersTable/Pagination.jsx
  src/components/UsersOrdersTable/UsersOrdersTable.jsx
  src/hooks/useChefOrders.js
  src/hooks/useUpdateOrderStatusByChef.js
  src/hooks/useUserOrders .js
Due: prettier --write, eslint --fix .

chore: finish merge
  package-lock.json
  src/App.jsx
  src/components/Providers/Providers.jsx
  src/components/UsersOrdersTable/UsersOrdersTable.jsx
Due: prettier --write

chore: rename files
  src/App.jsx
  src/components/ChefOrdersTable/ChefOrdersTable.jsx
  src/components/ChefOrdersTable/OrderItemsCell.jsx
  src/components/ChefOrdersTable/StatusCell.jsx
  src/components/ChefOrdersTable/getActions.jsx
  src/components/ChefOrdersTable/getChefStatusOptions.js
  src/components/ChefOrdersTable/processRowUpdate.js
  src/components/UserOrdersTable/CustomFooter.jsx
  src/components/UserOrdersTable/Pagination.jsx
  src/components/UserOrdersTable/UserOrderDetails.jsx
  src/components/UserOrdersTable/UserOrdersTable.jsx
  src/components/UserOrdersTable/calculateTotalSum.js
  src/components/UserOrdersTable/formatDateForDataGrid.js
Due: prettier --write, eslint --fix .

chore: change delivery statuses
  src/App.jsx
  src/components/ChefOrdersTable/StatusCell.jsx
  src/components/ChefOrdersTable/processRowUpdate.js
  src/components/UserOrdersTable/UserOrdersTable.jsx
  src/shared/AppChip/AppChip.jsx
  src/shared/AppChip/AppChip.props.js
Due: prettier --write, eslint --fix .

UPD:reviewsList_add infinite scroll
  package-lock.json
  package.json
  src/components/ReviewsList/ReviewsList.jsx
  src/components/ReviewsList/ReviewsList.props.js
  src/components/ReviewsList/ReviewsList.styled.js
  src/pages/user/ChefInfo/ChefInfoPage.jsx
  src/pages/user/Home/HomePage.jsx
Due: prettier --write, eslint --fix .

ADD: reviewsList to Dishes page
  src/pages/user/DishInfo/DishInfoPage.jsx
Due: none

UPD: carousel
  src/shared/AppCarousel/AppCarousel.jsx
  src/shared/AppCarousel/AppCarouselStyles.css
Due: prettier --write

UPD: ChefCard
  src/components/CarouselChefs/CarouselChefs.jsx
  src/components/ChefCard/ChefCard.jsx
  src/components/ChefCard/ChefCard.styled.jsx
  src/shared/AppCarousel/AppCarousel.jsx
  src/shared/AppCarousel/AppCarousel.styled.js
Due: prettier --write, eslint --fix .

UPD: prop isCarousel
  src/components/CarouselChefs/CarouselChefs.jsx
  src/components/ChefCard/ChefCard.jsx
  src/components/ChefCard/ChefCard.props.js
  src/components/ChefCard/ChefCard.styled.jsx
Due: prettier --write, eslint --fix .

UPD: DishCard props and styles
  src/components/CarouselDishes/CarouselDishes.jsx
  src/components/ChefCard/ChefCard.styled.jsx
  src/components/DishCard/DishCard.jsx
  src/components/DishCard/DishCard.props.js
  src/components/DishCard/DishCard.styled.jsx
Due: prettier --write, eslint --fix .

chore: added mock routes because of our wavering routs
  src/components/ChefOrdersTable/ChefOrdersTable.jsx
  src/components/ChefOrdersTable/index.js
  src/components/ChefOrdersTable/processRowUpdate.js
  src/components/UserOrdersTable/UserOrdersTable.jsx
  src/components/UserOrdersTable/index.js
  src/helpers/calculateTotalOrdersSum.js
  src/helpers/formatDateForDataGrid.js
  src/hooks/useChefOrders.js
  src/hooks/useUserOrders .js
Due: prettier --write, eslint --fix .

chore: added mock routes because of our wavering routs
  src/components/ChefOrdersTable/ChefOrdersTable.jsx
  src/hooks/useChefOrders.js
  src/hooks/useUserOrders .js
Due: prettier --write, eslint --fix .

UPD: AppTextArea
  src/shared/AppTextArea/AppTextArea.jsx
  src/shared/AppTextArea/AppTextArea.props.js
Due: prettier --write, eslint --fix .

UPD: TextAreaStyled
  src/shared/AppTextArea/AppTextArea.styled.js
Due: prettier --write, eslint --fix .

UPD:TextArea component
  src/shared/AppTextArea/AppTextArea.jsx
Due: none

UPD: texArea props
  src/shared/AppTextArea/AppTextArea.props.js
Due: prettier --write, eslint --fix .

UPD: Texarea styled
  src/shared/AppTextArea/AppTextArea.styled.js
Due: prettier --write, eslint --fix .

--amendfeat: add google maps integration
  index.html
  package-lock.json
  package.json
  src/App.jsx
  src/components/ChefCard/ChefCard.styled.jsx
  src/components/DishCard/DishCard.jsx
  src/components/DishCard/DishCard.styled.jsx
  src/hooks/useMapCenter.js
  src/schemas/chefSchema.js
  src/shared/AppMap/AutocompletePlaces/AutocompletePlaced.props.jsx
  src/shared/AppMap/AutocompletePlaces/AutocompletePlaces.jsx
  src/shared/AppMap/Map/Map.jsx
  src/shared/AppMap/Map/Map.props.jsx
  src/shared/AppMap/Map/map.theme.js
  src/shared/AppMap/utils/geo.js
  vite.config.js
Due: prettier --write, eslint --fix .

chore: temporary changed routes
  src/App.jsx
  src/components/ChefOrdersTable/ChefOrdersTable.jsx
  src/components/UserOrdersTable/UserOrderDetails.jsx
  src/components/UserOrdersTable/UserOrdersTable.jsx
  src/hooks/useChefOrders.js
  src/hooks/useUpdateOrderStatusByChef.js
Due: prettier --write, eslint --fix .

feat: added order page.
  package-lock.json
  package.json
  src/api/createOrder.js
  src/components/CartItem/CartItem.jsx
  src/components/CartItem/CartItem.styled.jsx
  src/components/CartItem/SpiceLevel/SpiceLevel.jsx
  src/components/CartItem/SpiceLevel/SpiceLevel.props.js
  src/components/CartItem/SpiceLevel/SpiceLevel.styled.jsx
  src/components/CartItem/SpiceLevel/index.js
  src/components/CartItem/index.js
  src/components/CreateOrderForm/CreateOrderForm.jsx
  src/components/CreateOrderForm/CreateOrderForm.styled.jsx
  src/components/CreateOrderForm/index.js
  src/components/DeliveryInfo/DeliveryInfo.jsx
  src/components/DeliveryInfo/DeliveryInfo.props.js
  src/components/DeliveryInfo/DeliveryInfo.styled.jsx
  src/components/DeliveryInfo/index.js
  src/components/OrderInfo/OrderInfo.jsx
  src/components/OrderInfo/OrderInfo.styled.jsx
  src/components/OrderInfo/index.js
  src/components/PaymentButton/PaymentButton.jsx
  src/components/PaymentButton/PaymentButton.props.js
  src/components/PaymentButton/PaymentButton.styled.jsx
  src/components/PaymentButton/index.js
  src/constants/route.js
  src/helpers/convertToMoney.js
  src/helpers/index.js
  src/pages/user/CreateOrder/CreateOrderPage.jsx
  src/pages/user/CreateOrder/index.js
  src/routes/AppRouter.jsx
  src/shared/AppNumberInput/AppNumberInput.jsx
  src/shared/AppNumberInput/AppNumberInput.styled.jsx
  src/shared/AppNumberInput/index.js
  src/shared/index.js
Due: prettier --write, eslint --fix .

tets query
  src/api/getReviewsByChefId.js
  src/api/getReviewsByDishId.js
  src/components/ReviewsList/ReviewsList.jsx
  src/pages/user/ChefInfo/ChefInfoPage.jsx
Due: prettier --write, eslint --fix .

feat: add payment button
  src/components/CreateOrderForm/CreateOrderForm.jsx
  src/components/DeliveryInfo/DeliveryInfo.jsx
  src/components/OrderInfo/OrderInfo.jsx
  src/components/OrderInfo/OrderInfo.styled.jsx
  src/helpers/index.js
  src/helpers/phoneTransformation.js
  src/schemas/createOrderSchema.js
  src/schemas/index.js
  src/shared/AppTextArea/AppTextArea.jsx
  src/shared/AppTextArea/AppTextArea.styled.js
  src/shared/Inputs/AppInputs/AppPhoneInput.jsx
Due: prettier --write, eslint --fix .

refactor: remove mock data
  src/api/createOrder.js
Due: prettier --write, eslint --fix .

UPD:AppCarousel
  src/shared/AppCarousel/AppCarousel.jsx
Due: none

feat: added dish order card
  .env.emaple
  package-lock.json
  src/App.jsx
  src/api/index.js
  src/assets/images/VeganIcon.jsx
  src/assets/images/kotleta.png
  src/components/DishOrderCard/DishOrderCard.jsx
  src/components/DishOrderCard/DishOrderCardButtonsGroup.jsx
  src/components/DishOrderCard/DishOrderCardDescription.jsx
  src/components/DishOrderCard/DishOrderCardIngredients.jsx
  src/components/DishOrderCard/DishOrderCardRating.jsx
  src/components/DishOrderCard/DishOrderCardSpiceLevel.jsx
  src/components/DishOrderCard/DishOrderCardTabs.jsx
  src/hooks/useChefOrders.js
  src/hooks/useFetchDish.js
  src/hooks/useUserOrders .js
Due: prettier --write, eslint --fix .

create header
  src/App.jsx
  src/components/ChefCard/ChefCard.styled.jsx
  src/components/Header/Header.jsx
  src/components/Header/header.styled.css
  src/components/Header/searchBar.jsx
Due: prettier --write

bugfix: dish form validation
  src/App.jsx
  src/components/AddDishForm/FormattedNumberInput.jsx
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

UPD: ReviewsList
  src/api/getReviewsByChefId.js
  src/api/getReviewsByDishId.js
  src/components/ReviewsItem/ReviewsItem.props.js
  src/components/ReviewsList/ReviewsList.jsx
  src/pages/user/ChefInfo/ChefInfoPage.jsx
Due: prettier --write, eslint --fix .

UPD: fix reviewsList
  src/api/getReviewsByChefId.js
  src/api/getReviewsByDishId.js
  src/components/ReviewsItem/ReviewItem.styled.js
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsList/ReviewsList.jsx
Due: prettier --write, eslint --fix .

Path conditions:
  prettier --write: any of: *.{js,css,md,html,json}
  eslint --fix .: any of: *.{js, jsx}
