Repository Autumn-fairytale/AFT-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix .

.lintstagedrc:

{
  "*.{js,css,md,html,json}": "prettier --write",
  "*.{js, jsx}": "eslint --fix ."
}

bugfix: add trim to dish schema
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

chore: removed form from app
  src/App.jsx
Due: none

refactor: add max symbol borderline for description
  src/App.jsx
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

style: change form height
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepThree/AddDishFormStepThree.jsx
Due: none

ADD: component AppCarousel
  package-lock.json
  package.json
  src/shared/AppCarousel/AppCarousel.jsx
Due: prettier --write

ADD: carousel
  package-lock.json
  package.json
  src/index.css
  src/shared/AppCarousel/AppCarousel.jsx
Due: prettier --write

ADD: styles for slick-Carousel
  src/components/CarouselChefs/CarouselChefs.jsx
  src/components/CarouselDisches/CarouselDisches.jsx
  src/index.css
  src/shared/AppCarousel/AppCarousel.jsx
  src/shared/AppCarousel/AppCarousel.styled.js
  src/shared/AppCarousel/AppCarouselStyles.css
Due: prettier --write, eslint --fix .

UPD: CarouselChefs
  src/components/CarouselChefs/CarouselChefs.jsx
Due: none

UPD: AppCarousel
  src/shared/AppCarousel/AppCarousel.jsx
Due: none

UPD: App carousel
  src/shared/AppCarousel/AppCarousel.jsx
Due: none

chore: updated package-lock and renamed cookTime
  package-lock.json
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepFour/AddDishFormStepFour.jsx
  src/constants/defaultValues.js
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

UPD: change name file to Dishes instead Disches
  src/components/CarouselDishes/CarouselDishes.jsx
Due: none

feat: added message about possible chefs profit
  src/App.jsx
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepFour/AddDishFormStepFour.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepOne/AddDishFormStepOne.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepThree/AddDishFormStepThree.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepTwo/AddDishFormStepTwo.jsx
  src/components/AddDishForm/FormattedNumberInput.jsx
  src/components/AddDishForm/HelperText.jsx
  src/theme/theme.js
Due: prettier --write, eslint --fix .

ADD: Footer template and Main component
  package-lock.json
  src/components/Footer/Footer.jsx
  src/components/Main/Main.jsx
  src/components/Main/Main.props.js
  src/components/Main/Main.styled.js
  src/components/layouts/AppLayout/AppLayout.jsx
  src/index.css
  src/pages/user/Home/HomePage.jsx
Due: prettier --write, eslint --fix .

UPD: pages with, add common Main component
  src/pages/admin/Admin/AdminPage.jsx
  src/pages/admin/AdminChefs/AdminChefsPage.jsx
  src/pages/admin/AdminDishes/AdminDishesPage.jsx
  src/pages/admin/AdminOrders/AdminOrdersPage.jsx
  src/pages/auth/SignIn/SignInPage.jsx
  src/pages/auth/SignUp/SignUpPage.jsx
  src/pages/chef/ChefAccount/ChefAccountPage.jsx
  src/pages/chef/ChefCreateDish/ChefCreateDishPage.jsx
  src/pages/chef/ChefDishInfo/ChefDishInfoPage.jsx
  src/pages/chef/ChefDishes/ChefDishesPage.jsx
  src/pages/chef/ChefOrders/ChefOrdersPage.jsx
  src/pages/chef/ChefProfile/ChefProfilePage.jsx
  src/pages/chef/ChefSignUp/ChefSignUpPage.jsx
  src/pages/courier/CourierAccount/CourierAccountPage.jsx
  src/pages/courier/CourierOrders/CourierOrdersPage.jsx
  src/pages/courier/CourierProfile/CourierProfilePage.jsx
  src/pages/courier/CourierSignUp/CourierSignUpPage.jsx
  src/pages/user/ChefInfo/ChefInfoPage.jsx
  src/pages/user/Chefs/ChefsPage.jsx
  src/pages/user/DishInfo/DishInfoPage.jsx
  src/pages/user/Dishes/DishesPage.jsx
  src/pages/user/Home/HomePage.jsx
  src/shared/Main/Main.jsx
  src/shared/Main/Main.props.js
  src/shared/Main/Main.styled.js
Due: prettier --write, eslint --fix .

DONE: footer
  src/assets/images/logo.svg
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.styled.js
  src/components/Footer/Logo.jsx
  src/components/Footer/logo.svg
  src/components/SocialMediaLinksList/SocialMediaLinksList.jsx
  src/components/SocialMediaLinksList/SocialMediaLinksList.styled.js
  src/index.css
Due: prettier --write, eslint --fix .

UPD: footer
  src/components/Footer/logo.svg
Due: none

ADD: ReviewsList
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsItem/ReviewsItem.props.js
  src/components/ReviewsList/ReviewsList.jsx
  src/pages/user/Home/HomePage.jsx
Due: prettier --write, eslint --fix .

refactor: Change styles and props of common components
  src/shared/Selects/Autocomplete/AppAutocomplete.jsx
  src/shared/Selects/Autocomplete/AppAutocomplete.props.jsx
  src/shared/Selects/Autocomplete/AppAutocomplete.styled.jsx
  src/shared/Selects/Autocomplete/utils/AutocompleteTag.styled.jsx
  src/shared/Selects/BasicSelect/AppSelect.jsx
  src/shared/Selects/BasicSelect/AppSelect.styles.jsx
  src/theme/muiOutlinedInputStyles.js
Due: prettier --write, eslint --fix .

refactor: Add other props to select components
  src/shared/Inputs/BaseInput/BaseInput.jsx
  src/shared/Selects/Autocomplete/AppAutocomplete.jsx
  src/shared/Selects/BasicSelect/AppSelect.jsx
Due: none

refactor: remove console.log
  src/shared/Inputs/AppInputs/AppPasswordInput.jsx
  src/shared/Inputs/utils/usePasswordShow.js
Due: prettier --write, eslint --fix .

chore: updated package-lock
  package-lock.json
Due: prettier --write

bugfix: updated package and package-lock json
  package-lock.json
  package.json
Due: prettier --write

chore: add mui data-grid
  package-lock.json
  package.json
  src/shared/AppTable/AppTable.jsx
Due: prettier --write

UPD: ReviewsList
  src/components/ReviewsItem/ReviewItemStyled.js
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsItem/ReviewsItem.props.js
  src/components/ReviewsList/ReviewsList.jsx
  src/components/ReviewsList/ReviewsList.styled.js
  src/shared/Main/Main.jsx
Due: prettier --write, eslint --fix .

feat: add hero markup
  .DS_Store
  src/.DS_Store
  src/assets/.DS_Store
  src/assets/images/.DS_Store
  src/assets/images/hero/.DS_Store
  src/assets/images/hero/hero.jpg
  src/components/Hero/Hero.jsx
  src/components/Hero/Hero.styled.jsx
  src/components/Hero/HeroSearchBar/HeroSearchBar.jsx
  src/components/Hero/HeroSearchBar/HeroSearchBar.styled.jsx
  src/components/Hero/HeroSearchBar/index.js
  src/components/Hero/index.js
  src/pages/user/Home/HomePage.jsx
  src/routes/AppRouter.jsx
Due: prettier --write, eslint --fix .

UPD: ReviewsItem
  package-lock.json
  package.json
  src/components/ReviewsItem/ReviewItemStyled.js
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsItem/ReviewsItem.props.js
  src/components/ReviewsList/ReviewsList.jsx
  src/components/ReviewsList/ReviewsList.styled.js
Due: prettier --write, eslint --fix .

UPD: ReviewsList add useEffect
  src/components/ReviewsList/ReviewsList.jsx
Due: none

feat: searchbar
  src/components/Hero/HeroSearchBar/HeroSearchBar.jsx
  src/components/Hero/HeroSearchBar/HeroSearchBar.styled.jsx
  src/components/layouts/AppLayout/AppLayout.jsx
  src/shared/Selects/BasicSelect/AppSelect.jsx
Due: none

feat: Chefs profile componemt
  package-lock.json
  src/components/ChefCard/ChefCard.jsx
  src/components/ChefCard/ChefCard.styled.jsx
  src/components/ChefProfile/ChefProfile.jsx
  src/components/ChefProfile/ChefProfile.styled.jsx
  src/components/DishCard/DishCard.jsx
Due: prettier --write

refactor: Rename fields in DishCard
  src/components/DishCard/DishCard.jsx
Due: none

feat: add users orders history table with expandable rows
  package-lock.json
  package.json
  src/App.jsx
  src/components/Providers/Providers.jsx
  src/components/UsersOrdersTable/UsersOrdersTable.jsx
Due: prettier --write

refactor: add users orders history table with expandable row
  src/components/UsersOrdersTable/UsersOrdersTable.jsx
Due: none

feat: added Overview component
  src/components/CarouselChefs/CarouselChefs.jsx
  src/components/CarouselChefs/CarouselChefs.props.js
  src/components/CarouselDishes/CarouselDishes.jsx
  src/components/CarouselDishes/CarouselDishes.props.js
  src/components/ChefCard/ChefCard.jsx
  src/components/ChefCard/ChefCard.props.js
  src/components/DishCard/DishCard.jsx
  src/components/DishCard/DishCard.props.js
  src/components/Overview/Overview.jsx
  src/components/Overview/Overview.props.js
  src/components/Overview/Overview.styled.jsx
  src/components/Overview/index.js
  src/pages/user/Home/HomePage.jsx
Due: prettier --write, eslint --fix .

feat: added .env file
  .env.emaple
Due: none

refactor: Overview component
  src/components/Overview/Overview.jsx
  src/components/Overview/Overview.props.js
  src/components/Overview/Overview.styled.jsx
  src/pages/user/Home/HomePage.jsx
Due: prettier --write, eslint --fix .

refactor: Rename fields in ChefCard
  jsconfig.json
  package-lock.json
  package.json
  src/components/ChefCard/ChefCard.jsx
  src/components/ChefCard/ChefCard.styled.jsx
Due: prettier --write

feat: added AppContainer common component
  package-lock.json
  package.json
  src/components/Hero/Hero.styled.jsx
  src/components/Overview/Overview.styled.jsx
  src/components/Providers/Providers.jsx
  src/main.jsx
  src/shared/AppContainer/AppContainer.jsx
  src/shared/index.js
Due: prettier --write, eslint --fix .

feat: add app table component
  src/components/UsersOrdersTable/UsersOrderDetails.jsx
  src/components/UsersOrdersTable/UsersOrdersTable.jsx
  src/hooks/useUserOrders .js
  src/shared/AppChip/AppChip.jsx
  src/shared/AppChip/AppChip.props.js
  src/shared/AppDataGridTable/AppDataGridTable.jsx
  src/shared/AppDataGridTable/AppDataGridTable.props.js
  src/shared/AppModal/AppModal.jsx
  src/shared/AppModal/AppModal.props.js
  src/shared/AppTable/AppTable.jsx
Due: prettier --write, eslint --fix .

feat: added reqt query and axios.
  .env.emaple
  package-lock.json
  package.json
  src/api/axios.js
  src/api/getPopularChefs.js
  src/api/getPopularDishes.js
  src/api/getRandomDish.js
  src/api/index.js
  src/components/Providers/Providers.jsx
  src/hooks/index.js
  src/hooks/usePopularChefs.js
  src/hooks/usePopularDishes.js
  src/hooks/useRandomDish.js
  src/pages/user/Home/HomePage.jsx
Due: prettier --write, eslint --fix .
