Repository Autumn-fairytale/AFT-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix .

.lintstagedrc:

{
  "*.{js,css,md,html,json}": "prettier --write",
  "*.{js, jsx}": "eslint --fix ."
}

bugfix: redux rerender
  src/components/AddDishForm/AddDishForm.jsx
Due: none

style: ingredients picker
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepTwo/AddDishFormStepTwo.jsx
Due: none

UPD: test
  package-lock.json
  src/shared/AppModal/AppModal.jsx
Due: prettier --write

UPD: App modal
  src/shared/AppModal/AppModal.jsx
Due: none

UPD: AppModal
  src/shared/AppModal/AppModal.props.js
Due: prettier --write, eslint --fix .

UPD: add error message
  src/api/addReview.js
  src/components/ReviewForm/ReviewForm.jsx
Due: prettier --write, eslint --fix .

feat: Add sign-in form component and Redux slice
  src/api/axios.js
  src/components/SignInForm/SignInForm.jsx
  src/components/SignInForm/SignInForm.styled.jsx
  src/components/SignInForm/index.js
  src/components/SignInForm/utils.js
  src/components/UserMenu/UserMenu.jsx
  src/pages/access/RestrictedRoute/RestrictedRoute.jsx
  src/pages/auth/SignIn/SignInPage.jsx
  src/redux/auth/operations.js
  src/redux/auth/selectors.js
  src/redux/auth/slice.js
  src/redux/store.js
  src/schemas/index.js
  src/schemas/singInSchema.js
  src/shared/Buttons/AppButton.jsx
  src/shared/Inputs/AppInputs/AppInputs.styled.jsx
  src/shared/Inputs/AppInputs/AppPasswordInput.jsx
Due: prettier --write, eslint --fix .

feat: added cropper spinner
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/components/AddDishForm/crop/getCroppedImage.js
Due: prettier --write, eslint --fix .

style: changed some styles
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.styled.jsx
Due: none

refactor: from submit
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/crop/getCroppedImage.js
  src/redux/createDish/createDishSlice.js
Due: prettier --write, eslint --fix .

feat: redux-thunk
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/redux/createDish/createDishSlice.js
Due: prettier --write, eslint --fix .

refactor: Prohibit form submission if data has not been changed
  src/components/SignInForm/SignInForm.jsx
  src/components/SignInForm/utils.js
  src/components/SignInForm/utils.jsx
Due: prettier --write, eslint --fix .

ADD: ChefCardSceleton
  src/components/ChefCardSceleton/ChefCardSceleton.jsx
  src/components/ChefCardSceleton/ChefCardSceleton.props.js
  src/components/ChefCardSceleton/ChefCardSceleton.styled.js
  src/pages/user/DishInfo/DishInfoPage.jsx
Due: prettier --write, eslint --fix .

refactor: form stepping
  src/App.jsx
  src/components/AddDishForm/AddDishForm.jsx
Due: none

add liqpay field
  src/assets/images/liqpay.png
  src/components/CreateChefForm/ChefInfo/ChefInfo.jsx
  src/components/CreateChefForm/ChefInfo/ChefInfo.styled.jsx
  src/components/CreateChefForm/CreateChefForm.jsx
  src/schemas/chefSchema.js
  src/schemas/dishSchema.js
  src/shared/Selects/BasicSelect/AppSelect.jsx
  src/shared/Selects/BasicSelect/AppSelect.props.jsx
Due: prettier --write, eslint --fix .

ADD: DishCardSceleton
  src/components/ChefCardSceleton/ChefCardSceleton.jsx
  src/components/DishCardSceleton/DishCardSceleton.jsx
  src/components/DishCardSceleton/DishCardSceleton.props.js
  src/components/DishCardSceleton/DishCardSceleton.styled.js
  src/pages/user/DishInfo/DishInfoPage.jsx
Due: prettier --write, eslint --fix .

ADD: sceletons dishes and chefs
  src/components/CarouselChefsSceleton/CarouselDishesSceleton.jsx
  src/components/CarouselDishesSceleton/CarouselDishesSceleton.jsx
  src/pages/user/Home/HomePage.jsx
Due: none

UPD: getPopularChef imitation of fetch
  src/api/getPopularChefs.js
  src/pages/user/Home/HomePage.jsx
Due: prettier --write, eslint --fix .

UPD: DishInfoPage
  src/pages/user/DishInfo/DishInfoPage.jsx
  src/pages/user/Home/HomePage.jsx
Due: none

add chef default values
  src/components/CreateChefForm/CreateChefForm.jsx
  src/schemas/chefSchema.js
Due: prettier --write, eslint --fix .

Test
  src/components/Header/Header.jsx
  src/components/NotAuthUserMenu/NotAuthUserMenu.jsx
  src/components/UserMenu/UserMenu.jsx
Due: none

ADD: selectors for Navigate
  src/components/NavigateMenu/NavigateMenu.jsx
Due: none

UPD: Main
  src/shared/Main/Main.jsx
Due: none

Add Container
  src/pages/user/Dishes/DishesPage.jsx
Due: none

ADD: Logo and logout to navigate
  src/components/NavigateMenu/NavigateMenu.jsx
  src/components/NavigateMenu/NavigateMenu.styled.js
  src/pages/access/RestrictedRoute/RestrictedRoute.jsx
Due: prettier --write, eslint --fix .

UPD:ReviewItem
  src/components/NavigateMenu/NavigateMenu.jsx
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsItem/ReviewsItem.props.js
  src/components/ReviewsList/ReviewsList.jsx
  src/components/ReviewsList/ReviewsList.props.js
  src/components/UserMenu/UserMenu.jsx
  src/pages/user/DishInfo/DishInfoPage.jsx
Due: prettier --write, eslint --fix .

UPD: Navigate
  src/components/NavigateMenu/NavigateMenu.jsx
Due: none

feat: image upload from form
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/constants/defaultValues.js
Due: prettier --write, eslint --fix .

feat: add spinner
  src/api/getPresignerURL.js
  src/api/index.js
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.props.js
  src/components/AddDishForm/addDishHelpers/fetchBlobFromUrl.js
  src/hooks/index.js
  src/hooks/usePresignedURL.js
  src/hooks/useUploadToS3.js
Due: prettier --write, eslint --fix .

feat: add file validation
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/components/AddDishForm/addDishHelpers/validateFile.js
Due: prettier --write, eslint --fix .

feat: persist image
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
Due: none

feat: delete image from s3
  src/api/getPresignedDeleteUrl.js
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/hooks/index.js
  src/hooks/usePresignedDeleteURL.js
  src/hooks/usePresignedURL.js
  src/hooks/useS3ImageUploader.js
  src/hooks/useUploadToS3.js
Due: prettier --write, eslint --fix .

feat: Create a registration form, add asyncThunk for registration
  src/components/NavigateMenu/NavigateMenu.jsx
  src/components/SignInForm/SignInForm.jsx
  src/components/SignInForm/utils.jsx
  src/components/SignUpForm/SignUpForm.jsx
  src/components/SignUpForm/index.js
  src/components/SignUpForm/utils/PasswordHints.jsx
  src/components/SignUpForm/utils/PrivacyPolicies.jsx
  src/components/UserMenu/UserMenu.jsx
  src/pages/auth/SignIn/SignInPage.jsx
  src/pages/auth/SignUp/SignUpPage.jsx
  src/redux/auth/operations.js
  src/redux/auth/slice.js
  src/schemas/index.js
  src/schemas/patterns.js
  src/schemas/signUpSchema.js
  src/shared/AuthFormComponents/readyComponents/FormControllers.jsx
  src/shared/AuthFormComponents/readyComponents/FormFooters.jsx
  src/shared/AuthFormComponents/readyComponents/FormHeaders.jsx
  src/shared/AuthFormComponents/readyComponents/FormSubmitButtons.jsx
  src/shared/AuthFormComponents/readyComponents/index.js
  src/shared/AuthFormComponents/reusableComponents/ReusedFormButton.jsx
  src/shared/AuthFormComponents/reusableComponents/ReusedFormController.jsx
  src/shared/AuthFormComponents/reusableComponents/ReusedFormFooter.jsx
  src/shared/AuthFormComponents/reusableComponents/ReusedFormHeader.jsx
  src/shared/AuthFormComponents/reusableComponents/index.js
  src/shared/AuthFormComponents/styles/FormStyledComponents.jsx
  src/shared/AuthFormComponents/styles/index.js
  src/shared/AuthFormComponents/utils/getError.jsx
  src/shared/AuthFormComponents/utils/index.js
  src/shared/AuthFormComponents/utils/useIsSameData.js
Due: prettier --write, eslint --fix .

refactor: Correct typo
  src/shared/AuthFormComponents/styles/FormStyledComponents.jsx
Due: none

refactor: calculating payment
  src/components/CreateOrderForm/OrderInfo/OrderInfo.jsx
  src/components/CreateOrderForm/OrderInfo/OrderSummary/OrderSummary.jsx
  src/config/config.js
Due: prettier --write, eslint --fix .

fix: link button component. Add auth to private routes.
  src/components/CarouselChefsSkeleton/CarouselDishesSkeleton.jsx
  src/components/CarouselDishesSkeleton/CarouselDishesSkeleton.jsx
  src/components/ChefCardSkeleton/ChefCardSkeleton.jsx
  src/components/ChefCardSkeleton/ChefCardSkeleton.props.js
  src/components/ChefCardSkeleton/ChefCardSkeleton.styled.js
  src/components/DishCardSkeleton/DishCardSkeleton.jsx
  src/components/DishCardSkeleton/DishCardSkeleton.props.js
  src/components/DishCardSkeleton/DishCardSkeleton.styled.js
  src/components/Overview/Overview.jsx
  src/components/Overview/Overview.props.js
  src/components/Overview/Overview.styled.jsx
  src/pages/access/ProtectedRoute/ProtectedRoute.jsx
  src/pages/access/RestrictedRoute/RestrictedRoute.jsx
  src/pages/user/Home/HomePage.jsx
  src/pages/user/Home/Homepage.styled.jsx
Due: prettier --write, eslint --fix .

Fixed navbar / add roles selector
  src/components/Header/Header.jsx
  src/components/NavigateMenu/NavigateMenu.jsx
  src/components/UserMenu/UserMenu.jsx
Due: none

refactor: added folders category
  src/api/getPresignedDeleteUrl.js
  src/api/getPresignerURL.js
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/hooks/usePresignedDeleteURL.js
  src/hooks/useS3ImageUploader.js
Due: prettier --write, eslint --fix .

refactor: Add possibility for form to be autofilled and change password input from TextField to Password field
  src/components/SignInForm/SignInForm.jsx
  src/components/SignUpForm/SignUpForm.jsx
  src/shared/AuthFormComponents/readyComponents/FormControllers.jsx
  src/shared/AuthFormComponents/reusableComponents/ReusedFormController.jsx
  src/shared/Inputs/AppInputs/AppPasswordInput.jsx
Due: none

refactor: delete file
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/helpers/deleteFile.js
  src/hooks/usePresignedDeleteURL.js
Due: prettier --write, eslint --fix .
