Repository Autumn-fairytale/AFT-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix .

.lintstagedrc:

{
  "*.{js,css,md,html,json}": "prettier --write",
  "*.{js, jsx}": "eslint --fix ."
}

feat: add notifications crud
  src/api/fetchNotifications.js
  src/api/notifications/deleteNotification.js
  src/api/notifications/getUnreadNotifications.js
  src/api/notifications/markNotificationAsRead.js
  src/hooks/useNotifications.js
Due: prettier --write, eslint --fix .

add orders table for admin
  src/api/admin/getAllCouriers.js
  src/components/AllOrdersTable/AllOrdersTable.jsx
  src/components/AllOrdersTable/AllOrdersTable.props.js
  src/components/AllOrdersTable/OrderItemsCell.jsx
  src/components/AllOrdersTable/getActions.jsx
  src/components/AllOrdersTable/getChefStatusOptions.js
  src/components/AllOrdersTable/index.js
  src/components/AllOrdersTable/processRowUpdate.js
  src/components/CarouselChefs/CarouselChefs.jsx
  src/components/CarouselDishes/CarouselDishes.jsx
  src/components/ChefCard/ChefCard.jsx
  src/components/ChefCard/ChefCard.styled.jsx
  src/components/ChefsList/ChefsList.jsx
  src/components/CreateChefForm/CreateChefForm.jsx
  src/components/CreateChefForm/UploadChefFiles/UploadChefFiles.jsx
  src/components/CreateCourierForm/CreateCourierForm.jsx
  src/components/DishCard/DishCard.jsx
  src/components/DishCard/DishCard.props.js
  src/components/DishesList/DishesList.jsx
  src/components/TableComponents/TableChip/TableChip.jsx
  src/components/TableComponents/TableChip/TableChip.props.js
  src/hooks/admin/useGetAllCouriers.js
  src/hooks/usePopularChefs.js
  src/pages/admin/AdminOrders/AdminOrdersPage.jsx
  src/pages/chef/ChefAccount/ChefAccountPage.jsx
  src/pages/chef/ChefProfile/ChefProfilePage.jsx
  src/pages/chef/ChefSignUp/ChefSignUpPage.jsx
  src/pages/courier/CourierAccount/CourierAccountPage.jsx
  src/pages/courier/CourierOrders/CourierOrdersPage.jsx
  src/pages/courier/CourierProfile/CourierProfilePage.jsx
  src/pages/user/FavoriteChefs/FavoriteChefs.jsx
  src/pages/user/Home/HomePage.jsx
  src/theme/theme.js
Due: prettier --write, eslint --fix .

DONE: pagination for chefs admin table
  src/components/AdminChefTable/AdminChefTable.jsx
  src/pages/admin/AdminChefs/ChefActions.jsx
Due: none

ADD: function updateChefAccountStatus
  src/api/chef/updateChefAccountStatus.js
  src/pages/admin/AdminChefs/ChefActions.jsx
Due: prettier --write, eslint --fix .

UPD: UserMenu
  src/components/Header/Header.jsx
  src/components/Header/Header.styled.js
Due: prettier --write, eslint --fix .

feat: toast
  src/App.jsx
  src/components/NotificationToast/NotificationToast.jsx
  src/components/NotificationToast/NotificationToast.props.js
  src/components/NotificationToast/NotificationToastStyled.jsx
  src/components/NotificationToast/index.js
  src/hooks/useNotifications.js
Due: prettier --write, eslint --fix .

UPD: NAvigation Menu
  src/components/NavigateMenu/NavigateMenu.jsx
  src/components/NavigateMenu/NavigateMenu.styled.js
  src/index.css
  src/pages/user/Dishes/DishesPage.styled.js
Due: prettier --write, eslint --fix .

UPD: NavigationMenu
  src/components/NavigateMenu/NavigateMenu.jsx
Due: none

bugfix: reopen toast
  src/App.jsx
Due: none

ADD: raitng to reviews
  src/components/NavigateMenu/NavigateMenu.jsx
  src/pages/user/DishReviews/DishReviews.jsx
  src/pages/user/DishReviews/DishReviews.styled.js
Due: prettier --write, eslint --fix .

bugfix: Remove autoComplete from current password field inside user' profile form
  src/components/Profiles/UserProfile/Fields/UserData/userFields.jsx
  src/schemas/updateUserSchema.js
Due: prettier --write, eslint --fix .

Test
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsList/ReviewsList.jsx
  src/pages/user/DishReviews/DishReviews.jsx
Due: none

refactor: Change style of cart scroll bar to orange thin
  src/components/CartInfo/CartItems/CartItems.jsx
  src/components/CartInfo/CartItems/CartItems.styled.jsx
  src/components/UserModalCart/UserModalCart.styled.js
Due: prettier --write, eslint --fix .

bugfix: toast duplication
  src/App.jsx
  src/components/NotificationToast/NotificationToast.jsx
  src/hooks/index.js
  src/hooks/notifications/index.js
  src/hooks/notifications/useToastNotifications.jsx
Due: prettier --write, eslint --fix .

style: toast styles
  src/components/DishOrderCard/DishOrderCard.styled.jsx
  src/components/NotificationToast/NotificationToast.jsx
  src/components/NotificationToast/NotificationToastStyled.jsx
  src/components/NotificationToast/scrollbarStyles.js
  src/hooks/notifications/useToastNotifications.jsx
Due: prettier --write, eslint --fix .

refactor: Return changes
  src/components/CartInfo/CartItems/CartItems.jsx
  src/components/CartInfo/CartItems/CartItems.styled.jsx
  src/components/UserModalCart/UserModalCart.styled.js
Due: prettier --write, eslint --fix .

style: toast
  src/components/NotificationToast/NotificationToast.jsx
  src/components/NotificationToast/NotificationToast.props.js
  src/components/NotificationToast/NotificationToastStyled.jsx
Due: prettier --write, eslint --fix .

add statistic graphs
  package-lock.json
  package.json
  src/api/admin/getAllOrders.js
  src/api/admin/getAllUsers.js
  src/api/admin/getDailyProfit.js
  src/components/PageTitle/PageTitle.jsx
  src/components/PageTitle/PageTitle.styled.js
  src/components/StatisticGraphs/ProfitGraph.jsx
  src/components/StatisticGraphs/UserGraph.jsx
  src/components/TableComponents/TableChip/TableChip.jsx
  src/hooks/admin/useGetAllOrders.js
  src/hooks/admin/useGetAllUsers.js
  src/hooks/admin/useGetDailyProfit.js
  src/pages/admin/Admin/AdminPage.jsx
  src/pages/admin/AdminOrders/AdminOrdersPage.jsx
  src/pages/chef/ChefAccount/ChefAccountPage.jsx
  src/pages/chef/ChefCreateDish/ChefCreateDishPage.jsx
  src/pages/chef/ChefDishes/ChefDishesPage.jsx
  src/pages/courier/CourierAccount/CourierAccountPage.jsx
  src/shared/AppBarChart/AppBarChart.jsx
  src/shared/AppBarChart/AppLineChart.jsx
Due: prettier --write, eslint --fix .

UPD: AAdminChef
  src/components/AdminChefTable/AdminChefTable.jsx
  src/components/AdminChefTable/AdminChefTable.styled.js
  src/components/ReviewForm/ReviewForm.jsx
  src/components/ReviewsItem/ReviewsItem.jsx
  src/pages/admin/AdminChefs/ActionSeeCert.jsx
  src/pages/admin/AdminChefs/ActionSeeCert.props.js
  src/pages/admin/AdminChefs/AdminChef.styled.js
  src/pages/admin/AdminChefs/AdminChefsPage.jsx
  src/pages/admin/AdminChefs/ChefActions.jsx
  src/pages/user/DishReviews/DishReviews.jsx
  src/pages/user/DishReviews/DishReviews.styled.js
Due: prettier --write, eslint --fix .

UPD: AdminChefTable
  src/components/AdminChefTable/AdminChefTable.jsx
  src/pages/admin/AdminChefs/AdminChef.styled.js
  src/pages/admin/AdminChefs/ChefActions.jsx
Due: prettier --write, eslint --fix .

UPD: Navigation
  src/components/NavigateMenu/NavigateMenu.jsx
  src/index.css
Due: prettier --write

fix: payment button
  src/components/PaymentButton/PaymentButton.jsx
  src/components/PaymentButton/PaymentButton.props.js
  src/components/UserOrdersTable/UserOrdersColumns.jsx
  src/components/UserOrdersTable/UserOrdersTable.jsx
Due: prettier --write, eslint --fix .

UPD: AdminChefTable
  src/components/AdminChefTable/AdminChefTable.jsx
  src/pages/admin/AdminChefs/ActionSeeCert.jsx
  src/pages/admin/AdminChefs/ChefActions.jsx
Due: none

UPD: FavoriteChefs
  src/pages/user/FavoriteChefs/FavoriteChefs.jsx
Due: none

DEL: console.log
  src/api/dishes/getDishes.js
  src/pages/user/FavoriteDishes/FavoriteDishes.jsx
Due: prettier --write, eslint --fix .

refactor: settings
  src/components/UserOrdersTable/UserOrdersTable.jsx
Due: none

refactor: hero image
  .DS_Store
  src/.DS_Store
  src/assets/.DS_Store
  src/assets/images/.DS_Store
  src/assets/images/hero/hero.webp
  src/components/Hero/Hero.styled.jsx
Due: none

fix favorite chefs
  src/components/FavoriteChefsList/FavoriteChefsList.jsx
Due: none

FIX: Navigate menu
  src/components/NavigateMenu/NavigateMenu.jsx
Due: none

feat: mark as read
  src/api/notifications/deleteNotification.js
  src/api/notifications/markNotificationAsRead.js
  src/components/NotificationToast/NotificationContent/NotificationContent.jsx
  src/components/NotificationToast/NotificationContent/index.js
  src/components/NotificationToast/NotificationToast.jsx
  src/hooks/index.js
  src/hooks/notifications/index.js
  src/hooks/notifications/useNotifications.js
  src/hooks/notifications/useToastNotifications.jsx
Due: prettier --write, eslint --fix .

feat: add user table server pagination
  src/api/user/getUserOrders.js
  src/components/PageTitle/PageTitle.styled.js
  src/components/UserOrdersTable/CustomFooter.jsx
  src/components/UserOrdersTable/UserOrderDetails/UserOrderDetails.jsx
  src/components/UserOrdersTable/UserOrdersTable.jsx
  src/components/UserOrdersTable/UserOrdersTableNoData/UserOrdersTableNoData.jsx
  src/hooks/useUserOrders .js
  src/pages/user/UserOrders/UserOrdersPage.jsx
  src/pages/user/UserOrders/UserOrdersPage.styled.jsx
  src/shared/AppDataGridTable/AppDataGridTable.jsx
Due: prettier --write, eslint --fix .

feat: close toast btn
  src/components/NotificationToast/CloseBtn/CloseBtn.jsx
  src/components/NotificationToast/CloseBtn/CloseBtn.props.js
  src/components/NotificationToast/CloseBtn/index.js
  src/components/NotificationToast/NotificationToast.jsx
  src/components/NotificationToast/NotificationToastStyled.jsx
  src/components/NotificationToast/handleRedirect.js
  src/hooks/notifications/useNotifications.js
  src/hooks/notifications/useToastNotifications.jsx
Due: prettier --write, eslint --fix .

style: toast
  src/components/NotificationToast/NotificationToast.jsx
  src/hooks/notifications/useToastNotifications.jsx
Due: none

feat: notifications burge
  src/App.jsx
  src/components/NotificationToast/NotificationContent/NotificationContent.jsx
  src/components/UserMenu/UserMenu.jsx
  src/constants/route.js
  src/hooks/notifications/useMarkNotificationAsRead.js
  src/hooks/notifications/useToastNotifications.jsx
Due: prettier --write, eslint --fix .

bugfix: notification duplication
  src/components/UserMenu/UserMenu.jsx
  src/main.jsx
Due: none

feat: notifications page
  src/pages/notifications/NotificationsPage.jsx
  src/pages/notifications/index.js
  src/routes/AppRouter.jsx
Due: prettier --write, eslint --fix .

refactor: notification content
  package-lock.json
  src/components/NotificationToast/NotificationContent/NotificationContent.jsx
  src/components/NotificationToast/NotificationToast.jsx
  src/components/UserMenu/UserMenu.jsx
  src/hooks/notifications/index.js
  src/hooks/notifications/useUnreadNotifications.js
  src/pages/notifications/NotificationsPage.jsx
Due: prettier --write, eslint --fix .

update chefcard style and statistic
  src/api/admin/getAllOrders.js
  src/api/admin/getUsersStatistic.js
  src/api/chef/getChefStatistic.js
  src/api/courier/getCourierStatistic.js
  src/components/AdminChefTable/AdminChefTable.jsx
  src/components/AllOrdersTable/AllOrdersTable.jsx
  src/components/ChefCard/ChefCard.styled.jsx
  src/components/StatisticGraphs/UserGraph.jsx
  src/hooks/admin/useGetAllOrders.js
  src/hooks/admin/useGetUsersStatistic.js
  src/hooks/chef/useGetChefStatistic.js
  src/hooks/courier/useGetChefStatistic.js
  src/pages/admin/Admin/AdminPage.jsx
  src/pages/admin/AdminOrders/AdminOrdersPage.jsx
  src/pages/chef/ChefAccount/ChefAccountPage.jsx
  src/pages/courier/CourierAccount/CourierAccountPage.jsx
Due: prettier --write, eslint --fix .

rename page title
  src/pages/chef/ChefDishes/ChefDishesPage.jsx
Due: none
