Repository Autumn-fairytale/AFT-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix .

FIX: remove auto eslint autofix
  .lintstagedrc
Due: none

FIX: add jsconfig.json file
  jsconfig.json
Due: prettier --write

Update .prettierrc
  .prettierrc
Due: none

ADD: Redux store for managing app state
  src/main.jsx
  src/redux/auth/operations.js
  src/redux/auth/selectors.js
  src/redux/auth/slice.js
  src/redux/store.js
Due: prettier --write, eslint --fix .

feat: added MUI theme
  package-lock.json
  package.json
  src/main.jsx
  src/theme.js
Due: prettier --write, eslint --fix .

refactor: change restricted routes
  src/pages/access/ProtectedRoute/ProtectedRoute.jsx
  src/pages/access/ProtectedRoute/index.js
  src/pages/access/RestrictedRoute/RestrictedRoute.jsx
  src/pages/access/RestrictedRoute/index.js
  src/routes/AppRouter.jsx
Due: prettier --write, eslint --fix .

refactor: theme files structure
  .gitignore
  src/components/Providers/Providers.jsx
  src/theme.js
  src/theme/index.js
  src/theme/muiButtonStyles.js
  src/theme/muiOutlinedInputStyles.js
  src/theme/theme.js
Due: prettier --write, eslint --fix .

commit before pull
  package-lock.json
  package.json
  src/App.jsx
  src/components/DishCard/DishCart.jsx
  src/theme.js
Due: prettier --write, eslint --fix .

refactor: delete mock data
  src/components/layouts/AppLayout/AppLayout.jsx
  src/pages/access/ProtectedRoute/ProtectedRoute.jsx
  src/pages/access/RestrictedRoute/RestrictedRoute.jsx
Due: none

Create common button component
  package-lock.json
  package.json
  src/shared/Buttons/AppButton.jsx
  src/shared/Buttons/appButtonStyles.js
Due: prettier --write, eslint --fix .

refactor: theme files structure
  src/constants/customColors.js
  src/constants/index.js
  src/theme/muiButtonStyles.js
  src/theme/muiOutlinedInputStyles.js
  src/theme/theme.js
Due: prettier --write, eslint --fix .

feat: add not found and access denied pages
  src/assets/images/no.gif
  src/assets/images/not-found.gif
  src/components/ErrorsPage/ErrorsPage.jsx
  src/components/ErrorsPage/ErrorsPage.styled.jsx
  src/components/ErrorsPage/index.js
  src/pages/NotFound/NotFoundPage.jsx
  src/pages/access/AccessDenied/AccessDeniedPage.jsx
Due: prettier --write, eslint --fix .

style: resize gif
  src/assets/images/no.gif
Due: none

commit before pull
  package-lock.json
  package.json
  src/App.jsx
  src/components/DishCard/DishCart.jsx
Due: prettier --write

style: Change styles from @emotion/react to @mui/material/styles
  src/shared/Buttons/AppButton.jsx
  src/shared/Buttons/appButtonStyles.js
Due: prettier --write, eslint --fix .

feat:Add dish card
  src/App.jsx
  src/components/DishCard/DishCart.jsx
  src/components/DishCard/DishCart.styled.jsx
Due: none

add simple header-component(tomporary)
  package-lock.json
  package.json
  src/App.jsx
  src/components/Header/Header.jsx
  src/components/Header/header.css
  src/components/Header/logo.svg
Due: prettier --write

add simple(temporary) header
  src/App.jsx
Due: none

ADD: modal
  src/App.jsx
  src/components/Modal/Modal.jsx
Due: none

feat:Add dish card
  src/components/DishCard/DishCart.jsx
  src/components/DishCard/DishCart.styled.jsx
Due: none

refactor:Rename components
  src/App.jsx
  src/components/DishCard/DishCard.jsx
  src/components/DishCard/DishCard.styled.jsx
Due: none

refactor:Rename components
  src/App.jsx
Due: none

refactor: Change icons
  src/App.jsx
  src/components/DishCard/DishCard.jsx
Due: none

feat: add libraries and dish schema
  package-lock.json
  package.json
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/index.js
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

refactor: dish schema
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

init: initial commit
  .gitignore
  src/components/NavBar/NavBar.jsx
Due: none

feat: form step one
  package-lock.json
  package.json
  src/assets/data/ingredients.json
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepOne.jsx
  src/constants/index.js
  src/constants/mocks.js
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

feat: Create common input components
  package-lock.json
  package.json
  src/shared/Inputs/AppInputs/AppInputs.styled.jsx
  src/shared/Inputs/AppInputs/AppPasswordInput.jsx
  src/shared/Inputs/AppInputs/AppPhoneInput.jsx
  src/shared/Inputs/AppInputs/AppSearchInput.jsx
  src/shared/Inputs/AppInputs/AppTextInput.jsx
  src/shared/Inputs/BaseInput/BaseInput.jsx
  src/shared/Inputs/BaseInput/BaseInput.props.js
  src/shared/Inputs/BaseInput/BaseInput.styled.jsx
  src/shared/Inputs/utils/PasswordVisibilityToggle.jsx
  src/shared/Inputs/utils/usePasswordShow.js
  src/shared/index.js
Due: prettier --write, eslint --fix .

ADD: Fake test component
  src/.DS_Store
  src/App.jsx
  src/components/FakeComponent/FakeComponent.jsx
  src/components/Modal/Modal.jsx
  src/components/ReviewForm/RewievForm.jsx
Due: none

refactor: Remove unnecessary prop types, passed into input components
  src/shared/Inputs/AppInputs/AppPasswordInput.jsx
  src/shared/Inputs/AppInputs/AppPhoneInput.jsx
  src/shared/Inputs/AppInputs/AppSearchInput.jsx
  src/shared/Inputs/BaseInput/BaseInput.jsx
  src/shared/Inputs/BaseInput/BaseInput.props.js
  src/shared/Inputs/BaseInput/BaseInput.styled.jsx
Due: prettier --write, eslint --fix .

TextArea
  src/components/Modal/Modal.jsx
  src/components/ReviewForm/RewievForm.jsx
  src/shared/Textarea/Textarea.jsx
  src/shared/Textarea/Textarea.styled.js
Due: prettier --write, eslint --fix .

fix: form validation
  src/App.jsx
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepOne.jsx
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

UPD Textarea
  src/components/ReviewForm/RewievForm.jsx
  src/shared/Textarea/Texarea.props.js
  src/shared/Textarea/Textarea.jsx
  src/shared/Textarea/Textarea.styled.js
Due: prettier --write, eslint --fix .

ADD: Textarea component
  src/shared/Textarea/Texarea.props.js
  src/shared/Textarea/Textarea.jsx
Due: prettier --write, eslint --fix .

Path conditions:
  prettier --write: any of: *.{js,css,md,html,json}
  eslint --fix .: any of: *.{js, jsx}
