Repository Autumn-fairytale/AFT-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix .

.lintstagedrc:

{
  "*.{js,css,md,html,json}": "prettier --write",
  "*.{js, jsx}": "eslint --fix ."
}

refactor: user order details modal
  src/App.jsx
  src/assets/images/HryvniaIcon.jsx
  src/components/ChefOrdersTable/ChefOrdersTable.jsx
  src/components/ChefOrdersTable/processRowUpdate.js
  src/components/UserOrdersTable/CustomFooter.jsx
  src/components/UserOrdersTable/UserOrderDetails.jsx
  src/components/UserOrdersTable/UserOrdersTable.jsx
  src/hooks/useUserOrders .js
  src/shared/AppChip/AppChip.props.js
Due: prettier --write, eslint --fix .

refactor: order info
  src/api/createOrder.js
  src/assets/images/.DS_Store
  src/assets/images/default-dish.svg
  src/components/CartInfo/CartChefInfo/CartChefInfo.jsx
  src/components/CartInfo/CartChefInfo/CartChefInfo.styled.jsx
  src/components/CartInfo/CartInfo.jsx
  src/components/CartInfo/CartItems/CartItem/CartItem.jsx
  src/components/CartInfo/CartItems/CartItem/CartItem.styled.jsx
  src/components/CartInfo/CartItems/CartItem/CartItemImage/CartItemImage.jsx
  src/components/CartInfo/CartItems/CartItem/CartItemImage/CartItemImage.props.js
  src/components/CartInfo/CartItems/CartItem/CartItemImage/CartItemImage.styled.jsx
  src/components/CartInfo/CartItems/CartItem/CartItemImage/index.js
Due: prettier --write, eslint --fix .

feat(CartItemImage): add defaultSrc props.
  src/components/CartInfo/CartItems/CartItem/CartItemImage/CartItemImage.jsx
Due: none

UPD: reviewsItem_add buttons
  src/components/ReviewsItem/ReviewItem.styled.js
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsList/ReviewsList.jsx
Due: prettier --write, eslint --fix .

add func DeleteByReviewId
  src/api/deleteByReviewId.js
Due: prettier --write, eslint --fix .

ADD: delete review function
  src/api/deleteByReviewId.js
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsList/ReviewsList.jsx
Due: prettier --write, eslint --fix .

feat: added shared component AppImage
  package-lock.json
  src/assets/images/default-dish.svg
  src/components/CartInfo/CartItems/CartItem/CartItem.jsx
  src/components/CartInfo/CartItems/CartItem/CartItemImage/CartItemImage.jsx
  src/components/CartInfo/CartItems/CartItem/CartItemImage/index.js
  src/components/CreateOrderForm/DeliveryInfo/DeliveryInfo.jsx
  src/components/CreateOrderForm/OrderInfo/OrderInfo.jsx
  src/shared/AppImage/AppImage.jsx
  src/shared/AppImage/AppImage.props.js
  src/shared/AppImage/AppImage.styled.jsx
  src/shared/AppImage/index.js
  src/shared/index.js
Due: prettier --write, eslint --fix .

style: a little fixed user table styles
  src/components/UserOrdersTable/UserOrdersTable.jsx
  src/shared/AppDataGridTable/AppDataGridTable.jsx
Due: none

refactor: available cook order statuses
  package-lock.json
  src/App.jsx
  src/components/ChefOrdersTable/getActions.jsx
  src/components/ChefOrdersTable/processRowUpdate.js
  src/shared/AppChip/AppChip.jsx
  src/theme/theme.js
Due: prettier --write, eslint --fix .

UPD: ReviewItem: add modal
  src/components/ReviewsItem/ReviewsItem.jsx
Due: none

ADD: function POST and PUT reviews
  src/api/addReview.js
  src/api/editReviewById.js
  src/components/ReviewForm/ReviewForm.jsx
  src/components/ReviewForm/ReviewForm.props.js
  src/components/ReviewsItem/ReviewsItem.jsx
  src/hooks/useModal.js
  src/pages/user/DishInfo/DishInfoPage.jsx
Due: prettier --write, eslint --fix .

refactor: order tables
  src/App.jsx
  src/components/ChefOrdersTable/ChefOrdersTable.jsx
  src/components/ChefOrdersTable/OrderItemsCell.jsx
  src/components/ChefOrdersTable/getActions.jsx
  src/components/UserOrdersTable/UserOrdersTable.jsx
  src/index.css
  src/shared/AppDataGridTable/AppDataGridTable.jsx
Due: prettier --write

add styles for dishcard for carousel
  package-lock.json
  package.json
  src/api/getPopularChefs.js
  src/components/ChefCard/ChefCard.jsx
  src/components/ChefCard/ChefCard.styled.jsx
  src/components/DishCard/DishCard.jsx
  src/components/DishCard/DishCard.styled.jsx
  src/components/Profiles/ChefProfile.jsx
  src/components/Profiles/ChefProfile.styled.jsx
  src/components/Profiles/UserProfile.jsx/UserProfile.props.js
  src/pages/chef/ChefProfile/ChefProfilePage.jsx
  src/shared/AppCarousel/AppCarousel.jsx
Due: prettier --write, eslint --fix .

UPD: ReviewsList
  src/components/ReviewForm/ReviewForm.jsx
  src/components/ReviewForm/ReviewForm.props.js
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsItem/ReviewsItem.props.js
  src/components/ReviewsList/ReviewsList.jsx
  src/pages/user/DishInfo/DishInfoPage.jsx
Due: prettier --write, eslint --fix .

feat: added shared component Address
  src/components/AddressForm/AddressForm.jsx
  src/components/AddressForm/AddressForm.props.js
  src/components/AddressForm/index.js
  src/components/CreateOrderForm/CreateOrderForm.jsx
  src/components/CreateOrderForm/DeliveryInfo/DeliveryInfo.jsx
  src/components/CreateOrderForm/DeliveryInfo/DeliveryInfoFormItem/DeliveryInfoFormItem.jsx
  src/components/CreateOrderForm/DeliveryInfo/DeliveryInfoFormItem/DeliveryInfoFormItem.styled.jsx
  src/components/CreateOrderForm/OrderInfo/OrderInfo.jsx
  src/components/CreateOrderForm/OrderInfo/OrderInfo.styled.jsx
  src/schemas/createOrderSchema.js
  src/shared/Inputs/AppInputs/AppPhoneInput.jsx
Due: prettier --write, eslint --fix .

UPD: Add custom scrollbar
  src/components/ReviewForm/ReviewForm.jsx
  src/components/ReviewForm/ReviewForm.props.js
  src/components/ReviewsItem/ReviewsItem.jsx
  src/components/ReviewsItem/ReviewsItem.props.js
  src/components/ReviewsList/ReviewsList.jsx
Due: prettier --write, eslint --fix .

ADD: sceleton to review list
  src/components/ReviewForm/ReviewForm.jsx
  src/components/ReviewsList/ReviewsList.jsx
Due: none

UPD: reviewForm_save to LocalStorage
  src/api/getReviewsByChefId.js
  src/components/ReviewForm/ReviewForm.jsx
Due: prettier --write, eslint --fix .

UPD: logic localStorage
  src/components/ReviewForm/ReviewForm.jsx
Due: none

refactor: deleted unused component
  src/components/CreateOrderForm/DeliveryInfo/DeliveryInfo.jsx
Due: none

refactor: rename file
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

chore: user order datails
  src/components/UserOrdersTable/UserOrderDetails.jsx
  src/components/UserOrdersTable/UserOrderDetails/ImageWithSpinner.jsx
  src/components/UserOrdersTable/UserOrderDetails/UserOrderDetailStyled.jsx
  src/components/UserOrdersTable/UserOrderDetails/UserOrderDetails.jsx
  src/components/UserOrdersTable/UserOrderDetails/index.js
  src/components/UserOrdersTable/UserOrdersTable.jsx
Due: prettier --write, eslint --fix .

chore: data grid table components
  src/components/ChefOrdersTable/ChefOrdersTable.jsx
  src/components/ChefOrdersTable/StatusCell.jsx
  src/components/ChefOrdersTable/processRowUpdate.js
  src/components/TableComponents/Pagination.jsx
  src/components/TableComponents/StatusCell.jsx
  src/components/TableComponents/TableChip/TableChip.jsx
  src/components/TableComponents/TableChip/TableChip.props.js
  src/components/TableComponents/TableChip/chipStatusColors.js
  src/components/TableComponents/tableHelpers/index.js
  src/components/TableComponents/tableHelpers/tableHelpers.js
  src/components/UserOrdersTable/CustomFooter.jsx
  src/components/UserOrdersTable/UserOrderDetails/UserOrderDetails.jsx
  src/components/UserOrdersTable/UserOrdersTable.jsx
  src/constants/mocks.js
  src/shared/AppDataGridTable/AppDataGridTable.jsx
  src/shared/AppDataGridTable/AppDataGridTable.props.js
Due: prettier --write, eslint --fix .

refactor: chefsAmountAfterFee
  src/App.jsx
  src/helpers/chefsAmountAfterFee.js
Due: prettier --write, eslint --fix .

ADD: drawer for navigation
  src/components/Header/Header.jsx
  src/components/Header/Header.styled.js
Due: prettier --write, eslint --fix .

feat: added payment button
  package-lock.json
  package.json
  src/api/axios.js
  src/api/createOrder.js
  src/api/getOrderPaymentSignature.js
  src/api/index.js
  src/components/CreateOrderForm/CreateOrderForm.jsx
  src/components/CreateOrderForm/OrderInfo/OrderInfo.jsx
  src/components/CreateOrderForm/OrderInfo/OrderInfo.props.js
  src/components/PaymentButton/PaymentButton.jsx
  src/components/PaymentButton/PaymentButton.props.js
  src/components/Providers/Providers.jsx
  src/hooks/index.js
  src/hooks/useGetOrderPaymentSignature.js
  src/schemas/createOrderSchema.js
Due: prettier --write, eslint --fix .

chore: add appSpiceLevel and fixed bugs
  package-lock.json
  package.json
  src/App.jsx
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormSpiceLevel/AddDishFormSpiceLevel.jsx
  src/components/AddDishForm/AddDishFormSpiceLevel/AddDishFormSpiceLevelStyled.jsx
  src/components/DishOrderCard/DishOrderCard.jsx
  src/components/DishOrderCard/DishOrderCardChefLink.jsx
  src/components/DishOrderCard/DishOrderCardRating.jsx
  src/components/Providers/Providers.jsx
  src/components/UserOrdersTable/UserOrderDetails/UserOrderDetailStyled.jsx
  src/hooks/useChefOrders.js
  src/hooks/useFetchDish.js
  src/hooks/useUserOrders .js
  src/schemas/dishSchema.js
  src/schemas/index.js
  src/shared/AppSpiceLevel/AppSpiceLevel.jsx
  src/shared/AppSpiceLevel/AppSpiceLevel.props.js
  src/shared/AppSpiceLevel/AppSpiceLevelStyled.jsx
  src/theme/muiAdditionalStyles.js
  src/theme/theme.js
Due: prettier --write, eslint --fix .

bugfix: export ./getDish
  src/App.jsx
  src/api/index.js
Due: prettier --write, eslint --fix .

ADD: CustomLink
  src/App.jsx
  src/components/CustomLink/CustomLink.jsx
  src/components/CustomLink/CustomLink.styled.js
  src/components/Header/Header.jsx
  src/components/Header/header.styled.css
  src/components/NavigateMenu/NavigateMenu.jsx
  src/components/NavigateMenu/NavigateMenu.styled.js
  src/components/layouts/AppLayout/AppLayout.jsx
  src/index.css
  src/pages/access/ProtectedRoute/ProtectedRoute.jsx
  src/pages/access/RestrictedRoute/RestrictedRoute.jsx
Due: prettier --write, eslint --fix .

chore: remove comment
  src/App.jsx
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
Due: none

ADD: user menu
  src/components/Header/Header.jsx
  src/components/UserMenu/UserMenu.jsx
  src/components/UserMenu/UserMenu.slyled.js
Due: prettier --write, eslint --fix .

ADD: not auth user menu
  src/components/Header/Header.jsx
  src/components/NotAuthUserMenu/NotAuthUserMenu.jsx
  src/components/NotAuthUserMenu/NotAuthUserMenu.styled.js
Due: prettier --write, eslint --fix .

UPD: user menu
  src/components/Header/Header.jsx
  src/components/UserMenu/UserMenu.jsx
  src/components/UserMenu/UserMenu.slyled.js
Due: prettier --write, eslint --fix .

feat: add redux to add dish form
  package-lock.json
  package.json
  src/App.jsx
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStyled.jsx
  src/components/AddDishForm/index.js
  src/components/Providers/Providers.jsx
  src/redux/createDish/createDishSelectors.js
  src/redux/createDish/createDishSlice.js
  src/redux/createDish/index.js
  src/redux/store.js
Due: prettier --write, eslint --fix .

feat: add reset redux on submit
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/addDishFormHelpers.js
  src/redux/createDish/createDishSlice.js
Due: prettier --write, eslint --fix .

UPD: custom Link_ add props
  src/components/CustomLink/CustomLink.jsx
  src/components/CustomLink/CustomLink.props.js
  src/components/NavigateMenu/NavigateMenu.jsx
  src/components/UserMenu/UserMenu.jsx
Due: prettier --write, eslint --fix .

UPD: header styles test bg color
  src/components/Header/Header.styled.js
Due: prettier --write, eslint --fix .

bugfix: validation in nutrition
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepFour/AddDishFormStepFour.jsx
Due: none

refactour: resolve conflict
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

bugfix: bug with redux
  src/components/AddDishForm/AddDishForm.jsx
  src/redux/createDish/createDishSlice.js
  src/shared/AppSpiceLevel/AppSpiceLevel.jsx
Due: prettier --write, eslint --fix .
