Repository Autumn-fairytale/AFT-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix .

ADD: texarea props
  src/shared/Textarea/Texarea.props.js
Due: prettier --write, eslint --fix .

ADD: Texarea styles
  src/shared/Textarea/Textarea.styled.js
Due: prettier --write, eslint --fix .

UPD: texarea styles
  src/shared/Textarea/Textarea.styled.js
Due: prettier --write, eslint --fix .

feat: add basic navbar functionality
  src/assets/images/IdloLogoUrl.jsx
  src/components/NavBar/NavBar.jsx
  src/components/NavBar/NavBar.styled.jsx
Due: none

UPD: TexaArea
  src/shared/AppTextArea/AppTextArea.jsx
  src/shared/AppTextArea/AppTextArea.props.js
  src/shared/AppTextArea/AppTextArea.styled.js
Due: prettier --write, eslint --fix .

UPD: props in AppTextArea (add default values)
  src/shared/AppTextArea/AppTextArea.jsx
Due: none

UPD: AppTextArea props
  src/shared/AppTextArea/AppTextArea.jsx
Due: none

UPD: Modal
  src/components/Modal/Modal.jsx
  src/components/Modal/Modal.styled.js
  src/shared/AppModal/AppModal.jsx
Due: prettier --write, eslint --fix .

UPD: AppModal
  src/shared/AppModal.jsx/AppModal.jsx
  src/shared/AppModal.jsx/AppModal.props.js
  src/shared/AppModal.jsx/AppModal.styled.js
Due: prettier --write, eslint --fix .

UPD: Modal props
  src/shared/AppModal.jsx/AppModal.props.js
Due: prettier --write, eslint --fix .

UPD: AppModal. Added JSDoc
  src/shared/AppModal.jsx/AppModal.jsx
Due: none

UPD: AppModal styles
  src/shared/AppModal.jsx/AppModal.jsx
  src/shared/AppModal.jsx/AppModal.styled.js
Due: prettier --write, eslint --fix .

FIX: AppModal
  src/shared/AppModal/AppModal.jsx
  src/shared/AppModal/AppModal.props.js
  src/shared/AppModal/AppModal.styled.js
Due: prettier --write, eslint --fix .

ADD: ReviewForm
  src/components/ReviewForm/ReviewForm.jsx
Due: none

UPD: ReviewForm
  src/components/ReviewForm/ReviewForm.jsx
Due: none

create ProfileMenuMobile component
  src/components/NavBar/NavBar.jsx
  src/components/NavBar/NavBar.styled.jsx
  src/components/NavBar/ProfileMenuMobile.jsx
Due: none

DONE: ReviewForm
  src/components/ReviewForm/ReviewForm.jsx
  src/components/ReviewForm/ReviewForm.styled.js
  src/shared/AppModal/AppModal.jsx
  src/shared/AppModal/AppModal.props.js
  src/shared/AppTextArea/AppTextArea.jsx
  src/shared/AppTextArea/AppTextArea.props.js
  src/shared/AppTextArea/AppTextArea.styled.js
Due: prettier --write, eslint --fix .

feat: add ingredients picker autocomplete
  public/data/ingredients.json
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepThree.jsx
  src/components/AddDishForm/AddDishFormStepTwo.jsx
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

UPD: AppButton
  src/shared/Buttons/AppButton.jsx
Due: none

refactor: state in dish form
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepOne.jsx
  src/components/AddDishForm/AddDishFormStepTwo.jsx
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

feat: added bare image picker component
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepTwo.jsx
  src/components/AddDishForm/ImagePicker.jsx
Due: none

fix: image picker validation
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepTwo.jsx
  src/components/AddDishForm/ImagePicker.jsx
Due: none

create NavigationMenuMobile component
  src/components/NavBar/NavBar.jsx
  src/components/NavBar/NavigationMenuMobile/NavigationMenuMobile.jsx
  src/components/NavBar/ProfileMenuMobile.jsx
  src/components/NavBar/ProfileMenuMobile/ProfileMenuMobile.jsx
Due: none

feat: Create common select and autocomplete components
  src/shared/Inputs/BaseInput/BaseInput.styled.jsx
  src/shared/Selects/Autocomplete/AppAutocomplete.jsx
  src/shared/Selects/Autocomplete/AppAutocomplete.props.jsx
  src/shared/Selects/Autocomplete/AppAutocomplete.styled.jsx
  src/shared/Selects/Autocomplete/utils/AutocompleteTag.styled.jsx
  src/shared/Selects/BasicSelect/AppSelect.jsx
  src/shared/Selects/BasicSelect/AppSelect.props.jsx
  src/shared/Selects/BasicSelect/AppSelect.styles.jsx
  src/shared/Selects/BasicSelect/utils/selectHelpers.jsx
  src/shared/index.js
  src/theme/muiOutlinedInputStyles.js
Due: prettier --write, eslint --fix .

FIX: TextArea and AppButton
  src/shared/AppTextArea/AppTextArea.jsx
  src/shared/AppTextArea/AppTextArea.props.js
  src/shared/Buttons/AppButton.jsx
Due: prettier --write, eslint --fix .

feat:Add chef card
  package-lock.json
  src/components/ChefCard/ChefCard.jsx
  src/components/ChefCard/ChefCard.styled.jsx
  src/components/DishCard/DishCard.jsx
Due: prettier --write

feat: add crop
  package-lock.json
  package.json
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepThree.jsx
  src/components/AddDishForm/AddDishFormStepTwo.jsx
  src/components/AddDishForm/ImagePicker.jsx
  src/components/AddDishForm/ImageUpload.jsx
  src/components/AddDishForm/crop/getCroppedImage.js
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

feat: add stepper
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFromStepper.jsx
Due: none

feat: formatted number input
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepOne.jsx
  src/components/AddDishForm/AddDishFromStepper.jsx
  src/components/AddDishForm/FormattedInput.jsx
Due: none

refactor: nav buttons
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormNavButtons.jsx
  src/components/AddDishForm/AddDishFormStepOne.jsx
  src/components/AddDishForm/AddDishFormStepThree.jsx
  src/components/AddDishForm/AddDishFormStepTwo.jsx
  src/components/AddDishForm/FormattedInput.jsx
Due: none

bugfix: Correct Button props name from 'type' to 'variant'
  src/components/DishCard/DishCard.jsx
  src/shared/Buttons/AppButton.jsx
  src/shared/Buttons/AppButton.styled.jsx
Due: none

feat: add spice level
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormSpiceLevel/AddDishFormSpiceLevel.jsx
  src/components/AddDishForm/AddDishFormSpiceLevel/AddDishFormSpiceLevelStyled.jsx
  src/components/AddDishForm/AddDishFormStepOne.jsx
  src/components/AddDishForm/AddDishFormStepThree.jsx
  src/components/AddDishForm/FormattedInput.jsx
  src/schemas/dishSchema.js
  src/shared/Buttons/AppButton.jsx
Due: prettier --write, eslint --fix .

fix: step 3 validation
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepThree.jsx
  src/schemas/dishSchema.js
Due: prettier --write, eslint --fix .

refactor: separated one fron step
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormStepFour.jsx
  src/components/AddDishForm/AddDishFormStepThree.jsx
  src/components/AddDishForm/AddDishFormStepTwo.jsx
  src/components/AddDishForm/AddDishFromStepper.jsx
  src/components/AddDishForm/ImageUpload.jsx
  src/constants/defaultValues.js
Due: prettier --write, eslint --fix .

refactor: dish schema
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormNavButtons.jsx
  src/components/AddDishForm/AddDishFormSpiceLevel/AddDishFormSpiceLevel.jsx
  src/components/AddDishForm/AddDishFormStepFour.jsx
  src/components/AddDishForm/AddDishFormStepTwo.jsx
  src/components/AddDishForm/ImageUpload.jsx
  src/schemas/dishSchema.js
  src/theme/muiOutlinedInputStyles.js
Due: prettier --write, eslint --fix .

refactor: Implement forwardRef for input components, add styles for focused inputs and error states
  package-lock.json
  package.json
  src/shared/Inputs/AppInputs/AppInputs.styled.jsx
  src/shared/Inputs/AppInputs/AppPasswordInput.jsx
  src/shared/Inputs/AppInputs/AppPhoneInput.jsx
  src/shared/Inputs/AppInputs/AppSearchInput.jsx
  src/shared/Inputs/AppInputs/AppTextInput.jsx
  src/shared/Inputs/BaseInput/BaseInput.jsx
  src/shared/Inputs/BaseInput/BaseInput.props.js
  src/shared/Inputs/BaseInput/BaseInput.styled.jsx
  src/shared/Inputs/utils/usePasswordShow.js
Due: prettier --write, eslint --fix .

feat: add axios and useFetchIngrediens hook
  package-lock.json
  package.json
  src/components/AddDishForm/AddDishForm.jsx
  src/components/AddDishForm/AddDishFormImageUpload/AddDishFormImageUpload.jsx
  src/components/AddDishForm/AddDishFormImageUpload/index.js
  src/components/AddDishForm/AddDishFormNavButtons/AddDishFormNavButtons.jsx
  src/components/AddDishForm/AddDishFormNavButtons/index.js
  src/components/AddDishForm/AddDishFormSpiceLevel/index.js
  src/components/AddDishForm/AddDishFormStepTwo.jsx
  src/components/AddDishForm/AddDishFromStepper/AddDishFromStepper.jsx
  src/components/AddDishForm/AddDishFromStepper/index.js
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepFour/AddDishFormStepFour.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepFour/index.js
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepOne/AddDishFormStepOne.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepOne/index.js
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepThree/AddDishFormStepThree.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepThree/index.js
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepTwo/AddDishFormStepTwo.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepTwo/index.js
  src/components/AddDishForm/AddDishFromSteps/index.js
  src/components/AddDishForm/FormattedNumberInput.jsx
  src/components/AddDishForm/index.js
  src/components/ErrorsPage/ErrorsPage.jsx
  src/hooks/useFetchIngredients.js
  src/theme/muiOutlinedInputStyles.js
Due: prettier --write, eslint --fix .

feat: fields end adornment text and change ingredients.json
  public/data/ingredients.json
  src/components/AddDishForm/AddDishFormFieldEndAdornment/AddDishFormFieldEndAdornment.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepFour/AddDishFormStepFour.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepOne/AddDishFormStepOne.jsx
  src/components/AddDishForm/AddDishFromSteps/AddDishFormStepTwo/AddDishFormStepTwo.jsx
  src/components/AddDishForm/FormattedNumberInput.jsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,css,md,html,json}
  eslint --fix .: any of: *.{js, jsx}
