Repository Autumn-fairytale/AFT-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix .

refactor: notification content
  src/components/NotificationToast/NotificationContent/NotificationContent.jsx
  src/components/NotificationToast/NotificationContent/NotificationContent.props.js
  src/components/NotificationToast/NotificationToast.jsx
  src/components/NotificationToast/handleRedirect.js
Due: prettier --write, eslint --fix .

style: toast
  src/components/NotificationToast/NotificationContent/NotificationContent.jsx
  src/components/NotificationToast/NotificationToast.jsx
  src/hooks/notifications/useToastNotifications.jsx
Due: none

feat: useGetNotifications
  src/api/notifications/getReadNotifications.js
  src/api/notifications/index.js
  src/hooks/notifications/index.js
  src/hooks/notifications/useGetNotifications.js
  src/hooks/notifications/useUnreadNotifications.js
  src/pages/notifications/NotificationsPage.jsx
Due: prettier --write, eslint --fix .

add courier manage table for admin
  src/api/admin/getCouriers.js
  src/api/courier/updateCourieAccountStatus.js
  src/components/AdminChefTable/AdminChefTable.jsx
  src/components/AdminCourierTable.jsx/AdminCourierTable.jsx
  src/components/AdminCourierTable.jsx/CourierActions.jsx
  src/components/AllOrdersTable/getActions.jsx
  src/components/CreateChefForm/CreateChefForm.jsx
  src/components/CreateCourierForm/CreateCourierForm.jsx
  src/components/NavigateMenu/NavigateMenu.jsx
  src/constants/route.js
  src/pages/admin/AdminCouriers/AdminCouriersPage.jsx
  src/pages/admin/AdminCouriers/index.js
  src/pages/chef/ChefAccount/ChefAccountPage.jsx
  src/pages/chef/ChefOrders/ChefOrdersPage.jsx
  src/pages/courier/CourierAccount/CourierAccountPage.jsx
  src/routes/AppRouter.jsx
Due: prettier --write, eslint --fix .

feat: notes table
  src/api/notifications/index.js
  src/components/NotificationsTable/NotificationsTable.jsx
  src/components/NotificationsTable/NotificationsTable.props.js
  src/components/NotificationsTable/index.js
  src/hooks/notifications/index.js
  src/hooks/notifications/useDeleteNotification.js
  src/hooks/notifications/useGetNotifications.js
  src/hooks/notifications/useMarkNotificationAsRead.js
  src/pages/notifications/NotificationsPage.jsx
  src/shared/AppDataGridTable/index.js
Due: prettier --write, eslint --fix .

feat: redux state for undead count
  src/App.jsx
  src/components/NotificationsTable/NotificationsTable.jsx
  src/components/UserMenu/UserMenu.jsx
  src/redux/notifications/index.js
  src/redux/notifications/notificationsSlice.js
  src/redux/notifications/notificationsSliceSelectors.js
  src/redux/store.js
Due: prettier --write, eslint --fix .

style: card content
  src/components/NotificationToast/NotificationContent/NotificationContent.jsx
Due: none

feat: custom toolbar
  src/components/NotificationsTable/NotificationTableToolbar/NotificationTableToolbar.jsx
  src/components/NotificationsTable/NotificationTableToolbar/NotificationTableToolbar.props.js
  src/components/NotificationsTable/NotificationTableToolbar/index.js
  src/components/NotificationsTable/NotificationsTable.jsx
Due: prettier --write, eslint --fix .

feat: can show toast
  src/hooks/notifications/useToastNotifications.jsx
  src/pages/notifications/NotificationsPage.jsx
  src/redux/notifications/notificationsSlice.js
  src/redux/notifications/notificationsSliceSelectors.js
Due: prettier --write, eslint --fix .

fix bug on chefInfo page
  src/pages/user/ChefInfo/ChefInfoPage.jsx
Due: none

feat: searchbar
  src/components/NotificationsTable/NotificationTableToolbar/NotificationTableToolbar.jsx
  src/components/NotificationsTable/NotificationsTable.jsx
Due: none

chore: chefOrderTable
  src/components/AddDishForm/AddDishFormStyled.jsx
  src/components/ChefOrdersTable/ChefOrdersTable.jsx
  src/components/ChefOrdersTable/ChefOrdersTableHelpers/getActions.jsx
  src/components/ChefOrdersTable/ChefOrdersTableHelpers/getChefStatusOptions.js
  src/components/ChefOrdersTable/ChefOrdersTableHelpers/index.js
  src/components/ChefOrdersTable/ChefOrdersTableHelpers/processRowUpdate.js
  src/components/ChefOrdersTable/OrderItemsCell.jsx
  src/components/ChefOrdersTable/OrderItemsCell/OrderItemsCell.jsx
  src/components/ChefOrdersTable/OrderItemsCell/OrderItemsCell.props.js
  src/components/ChefOrdersTable/OrderItemsCell/OrderItemsCellStyles.js
  src/components/ChefOrdersTable/OrderItemsCell/index.js
  src/components/NotificationsTable/NotificationsTable.jsx
Due: prettier --write, eslint --fix .

feat: Reorganize authentication using access-refresh tokens in cookies
  package-lock.json
  package.json
  src/App.jsx
  src/api/axios.js
  src/constants/index.js
  src/constants/tokens.js
  src/redux/auth/operations.js
Due: prettier --write, eslint --fix .

chore: dish order card
  src/components/DishOrderCard/DishOrderCard.jsx
  src/components/DishOrderCard/DishOrderCard.props.js
  src/components/DishOrderCard/DishOrderCardButtonsGroup/DishOrderCardButtonsGroup.jsx
  src/components/DishOrderCard/DishOrderCardButtonsGroup/DishOrderCardButtonsGroup.props.js
  src/components/DishOrderCard/DishOrderCardButtonsGroup/index.js
  src/components/DishOrderCard/DishOrderCardChefLink/DishOrderCardChefLink.jsx
  src/components/DishOrderCard/DishOrderCardChefLink/DishOrderCardChefLink.props.js
  src/components/DishOrderCard/DishOrderCardChefLink/index.js
  src/components/DishOrderCard/DishOrderCardDescription.jsx
  src/components/DishOrderCard/DishOrderCardDescription/DishOrderCardDescription.jsx
  src/components/DishOrderCard/DishOrderCardDescription/DishOrderCardDescription.props.js
  src/components/DishOrderCard/DishOrderCardDescription/DishOrderCardDescriptionStyled.jsx
  src/components/DishOrderCard/DishOrderCardDescription/index.js
  src/components/DishOrderCard/DishOrderCardIngredients/DishOrderCardIngredients.jsx
  src/components/DishOrderCard/DishOrderCardIngredients/DishOrderCardIngredients.props.js
  src/components/DishOrderCard/DishOrderCardIngredients/DishOrderCardIngredientsStyled.jsx
  src/components/DishOrderCard/DishOrderCardIngredients/index.js
  src/components/DishOrderCard/DishOrderCardRating/DishOrderCardRating.jsx
  src/components/DishOrderCard/DishOrderCardRating/DishOrderCardRating.props.js
  src/components/DishOrderCard/DishOrderCardRating/index.js
  src/components/DishOrderCard/DishOrderCardReview/DishOrderCardReview.jsx
  src/components/DishOrderCard/DishOrderCardReview/DishOrderCardReview.props.js
  src/components/DishOrderCard/DishOrderCardReview/index.js
  src/components/DishOrderCard/DishOrderCardSpiceLevel/DishOrderCardSpiceLevel.jsx
  src/components/DishOrderCard/DishOrderCardSpiceLevel/DishOrderCardSpiceLevel.props.js
  src/components/DishOrderCard/DishOrderCardSpiceLevel/index.js
  src/components/DishOrderCard/DishOrderCardStyled.jsx
  src/components/DishOrderCard/DishOrderCardTabs/DishOrderCardTabs.jsx
  src/components/DishOrderCard/DishOrderCardTabs/DishOrderCardTabs.props.js
  src/components/DishOrderCard/DishOrderCardTabs/index.js
  src/components/DishOrderCard/DishOrderCardVeganBadge/DishOrderCardVeganBadge.jsx
  src/components/DishOrderCard/DishOrderCardVeganBadge/index.js
Due: prettier --write, eslint --fix .

chore: notification toast
  src/components/DishOrderCard/DishOrderCardStyled.jsx
  src/components/NotificationToast/NotificationToast.jsx
  src/components/NotificationToast/NotificationToastStyled.jsx
  src/components/NotificationToast/helpers/handleRedirect.js
  src/components/NotificationToast/helpers/scrollbarStyles.js
  src/main.jsx
Due: prettier --write, eslint --fix .

feat: useDisableToasts
  src/components/UserModalCart/UserModalCart.jsx
  src/hooks/notifications/index.js
  src/hooks/notifications/useDisableToasts.js
  src/pages/notifications/NotificationsPage.jsx
  src/pages/user/CreateOrder/CreateOrderPage.jsx
Due: prettier --write, eslint --fix .

style: toast
  src/components/NotificationToast/NotificationContent/NotificationContent.jsx
  src/components/NotificationToast/NotificationContent/NotificationContentStyled.jsx
  src/components/NotificationToast/NotificationToast.jsx
  src/components/NotificationToast/NotificationToastStyled.jsx
  src/components/UserModalCart/UserModalCart.jsx
Due: none

style: notification table
  src/components/NotificationsTable/NotificationsTable.jsx
  src/main.jsx
Due: none

style: changed add dish form margins
  src/components/AddDishForm/AddDishFormNavButtons/AddDishFormNavButtons.jsx
  src/components/AddDishForm/AddDishFormStyled.jsx
Due: none

style: changed dish order card style
  src/components/DishOrderCard/DishOrderCardIngredients/DishOrderCardIngredients.jsx
Due: none

feat: add favicon
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  public/vite.svg
Due: prettier --write

refactor: Fix call of sign-out in axios and redirect to sign-in page
  src/App.jsx
  src/api/axios.js
  src/constants/tokens.js
Due: prettier --write, eslint --fix .

chore: moved files to folder incide API and fixed table cell height
  src/api/aws/getPresignedDeleteUrl.js
  src/api/aws/getPresignerURL.js
  src/api/dishes/createDish.js
  src/api/dishes/getDishById.js
  src/api/dishes/getPopularDishes.js
  src/api/dishes/getRandomDish.js
  src/api/dishes/updateDish.js
  src/api/index.js
  src/components/ChefOrdersTable/ChefOrdersTable.jsx
  src/helpers/deleteFile.js
Due: prettier --write, eslint --fix .

refactor: Add a queue of requests that are waiting for the refresh endpoint to execute
  package-lock.json
  package.json
  src/App.jsx
  src/api/axios.js
  src/components/SignInForm/SignInForm.jsx
  src/constants/index.js
  src/constants/tokenErrors.js
  src/shared/AuthFormComponents/utils/getError.jsx
Due: prettier --write, eslint --fix .

feat: notifications route to user profile
  src/components/Profiles/UserProfile/Buttons/useRedirectButtons.js
Due: prettier --write, eslint --fix .

refactor: remove admin_dish route
  src/components/AdminCourierTable.jsx/CourierActions.jsx
  src/components/NavigateMenu/NavigateMenu.jsx
  src/constants/route.js
  src/routes/AppRouter.jsx
Due: prettier --write, eslint --fix .

refactor: add/delete comments
  src/api/axios.js
Due: prettier --write, eslint --fix .

refactor: styles
  src/components/DishCard/DishCard.jsx
  src/components/DishOrderCard/DishOrderCard.jsx
  src/components/Overview/Overview.styled.jsx
Due: none

refactor: sse
  src/hooks/notifications/useNotifications.js
Due: prettier --write, eslint --fix .

bugfix: Remove Settings buttons in user' profile
  src/components/Profiles/UserProfile/Buttons/UserAccountButtons.jsx
  src/components/Profiles/UserProfile/Buttons/useRedirectButtons.js
Due: prettier --write, eslint --fix .

add user-friendly form validation and universal certeficat size
  sages
  src/components/CreateChefForm/UploadChefFiles/UploadChefFiles.jsx
  src/components/Profiles/Profile.styled.jsx
  src/schemas/chefSchema.js
  src/schemas/courierSchema.js
Due: prettier --write, eslint --fix .

add user-friendly form validation and universal certeficat size
  src/components/CreateChefForm/UploadChefFiles/UploadChefFiles.jsx
  src/components/Profiles/Profile.styled.jsx
  src/schemas/chefSchema.js
  src/schemas/courierSchema.js
Due: prettier --write, eslint --fix .

delete comments
  sages
Due: none

bugfix: Remove scrolling of the sign-in/sign-out forms, add scrolling of the page
  src/shared/AuthFormComponents/styles/FormStyledComponents.jsx
Due: none

style: button style
  src/components/AddDishForm/AddDishForm.jsx
Due: none

Path conditions:
  prettier --write: any of: *.{js,css,md,html,json}
  eslint --fix .: any of: *.{js, jsx}
